@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-padein {
    animation: fade-in-up 0.30s ease-out forwards;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Add this to css */
@keyframes write-loop {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.animate-write-loop {
    animation: write-loop 0.01s ease-out infinite;
}

.parag{
    overflow-wrap: break-word;
}
